@import "../common/colors.scss";

.background {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__wrapper {
    width: 800px;
    height: 420px;
    box-shadow: 0 5px 16px rgba(0,0,0,0.2);
    background: rgb(202, 202, 202);
    color:#000;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    padding: 10px;

    .svg__close {
    position: absolute;
    right: 10px;
    top: 10px;
    }

    h3 {
        font-weight: 400;
        margin: 5rem;
        text-align: center;
        color: $secondary-color;
    }
}

.post__container {
    width: 80%;
    margin: auto;
}

.post-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post__submit {
    button {
        padding: 1rem;
        font-size: 1.3rem;
        width: 10rem;
        margin-right: 1.6rem;
    }
}

.post__input {
    padding: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid $secondary-color;
    background: transparent;
    &:focus {
    border-bottom: 1px solid $primary-color;
    }
}

.background__image {
    img {
        width: 300px;
    }
}
