$primary-color: #F47060;
$secondary-color: #34475C;
$profile-one: #BA4C4C;
$profile-two: #9E5757;
$hover-primary: #f3796b;
$hover-secondary: #3b5372;
$text-color: #34475C;
$newComer-background: linear-gradient(60deg, #29323c 0%, #485563 100%);
