@import "../../components/common/colors.scss";

.resetPassword_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resetForm_container {
    border: 1px solid lightgrey;
    padding: 1.5rem;
    height: 400px;
    border-radius: 8px;
}

.resetPassword__header {
    h3 {
        text-align: center;
        color: $secondary-color;
        margin-top: 2rem;
    }
}

.resetPassword__text {
    p {
        text-align: center;
        opacity: 50%;
    }
}

.btn__link {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    padding: 1rem;
    text-align: center;
    background: $hover-secondary;
    cursor: pointer;
    &:hover {
        background: $secondary-color;
        transition: all 0.5s;
    }
}

.login-register-container {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $primary-color;
    cursor: pointer;
    p {
        font-weight: bold;
        &:hover {
            color: $hover-primary;
            transition: all 0.5s;
        }
    }
}

.backTo__login, .backTo__register {
    font-size: 1.2rem;
    font-weight: 100;
}

.backTo__login {
    margin-top: 1rem;
}

.backTo__register {
    margin-bottom: 1rem;
}


// **** mobile version *****
@media (max-width: 768px) {
.resetForm_container {
    width: 350px;
}
}