@import "../../components/common/colors.scss";

.privatePage-container {
    width: 90vw;
    height: 90vh;
    margin: 3rem auto;
}

.grid__2x3 {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,  1fr);
    grid-template-rows: 300px 120px  1fr;
    gap: 1rem;
}

.notefication-container {
    grid-column: 1;
    grid-row: 4 / 5;
    padding:  0.5rem 3.5rem;  
    width: 450px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px 1px 5px 1px lightgray;
   }

.pofile-box, .notefication-container, .events__holder {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    border-radius: 15px;
}

.pofile-box {
    position: relative;
    grid-row: 1 / 4;
    padding-right: 2rem;
    width: 450px;
    box-shadow: 1px 1px 5px 1px lightgray;
}

.video {
    grid-row: 1 / 2;
    grid-column: 4 / -1;
    height: 100%;
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
}

.guidance-logo {
    h3 {
        text-align: center;
        font-family: MonteCarlo;
        font-size: 4rem;
        font-weight: 100;
        color: $primary-color;
        font-weight: bold;
        margin-top: 5rem;
    }
}

.logout-bnt {
    position: absolute;
    top: 0px;
    right: 10px;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    color: $secondary-color;
    font-weight: bolder;
    margin-right: 10px;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.1);
    }
    span {
        margin-left: 0.5rem;
        font-size: 1.2rem;
    }
}

.profile-info {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile-image {
    margin-right: 1rem;
    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid #fff;
        padding: 0.5rem;
    }
}

.flex-position {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pro_btn {
    background-color: #f1e9e9;
    padding: 1rem;
}

.noContact__bt, .contact__bt {
    &:hover {
        transform: scale(1.1);
    }
}

.noContact__bt {
    margin-left: 4rem;
}

.profile-status {
    p {
        color: #fff;
        margin-bottom: 0.2rem;
    }
    :nth-child(1) {
        font-weight: bold;
        font-size: 1.6rem;
    }
    :nth-child(2) {
        font-size: 1.2rem;
        color: $primary-color;
    }
}

.creation-date {
    p {
        color: rgba(245, 245, 245, 0.589);
        font-size: 1.3rem;
    }
}

.events__holder {
   grid-row: 2/4;
   grid-column: 4 / 5;
   
   overflow-y: scroll;
   box-shadow: 1px 1px 5px 1px lightgray;
}

// .line-dec {
//     width: 50px;
//     height: 1px;
//     border: 1px solid rgba(245, 245, 245, 0.589);
//     margin-right: 0.2rem;
// }

.aside {
   grid-column: 2 / 4;
   grid-row: 1 / 9;
}

.profile__p {
    margin-bottom: 1rem;
    
}

.profile-status-box {
    margin-top: 2rem;
    margin-left: 3.4rem;
    margin-right: 0.6rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    color: rgba(238, 235, 235, 0.923);
    font-size: 1.2rem;
     & span {
         color: #fff;
         font-size: 1.5rem;
         font-weight: bold;
     }
}

.status, .location, .country {
    display: flex;
    flex-direction: column;
}

.profile-bio {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.btn-submit {
    display: block;
    margin-left: 36px;
    width: 20%;
    border: none;
    padding: 1rem;
    border-radius: 999px;
    background: $primary-color;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background-color: $hover-primary;
        transform: scale(1.1);
        box-shadow: 1px 1px 5px 1px #fff;
    }
}

.profile__textarea {
    width: 90%;
    border: none;
    outline: none;
    background: #9E5757;
    color: #fff;
    border-radius: 7px;
    resize: none;
    padding: 0.6rem;
    height: 120px;
    margin-bottom: 2rem;
    margin-left: 3.5rem;
}

.messages__ntf, .post__ntf, .interessted__in, .createEvent__ntf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p {
         margin: 1rem;
         font-size: 1.5rem;
         font-weight: bold;
         color: #fff;
     }
}

.event__count {
    color: $primary-color;
}

.aside {
    padding: 0.5rem;
    overflow-y: scroll;
    width: 100%;
}

.newComer-foto {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
    
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.comer-container {
    border: 1px solid black;
    margin-bottom: 2rem;
    border-radius: 7px;
    overflow: hidden;
}

.newComer-profile {
    height: 190px;
    padding: 1rem;
    background: #F1E9E9;
}

.newComer-text {
    width: 70%;
    margin: auto;

    p {
        padding: 1rem;
        font-size: 1.5rem;
    }
}

.column-flex {
    display: flex;
    flex-direction: column;
    margin:0.5rem 1rem;
    :nth-child(1) {
        font-size: 1.5rem;
        font-weight: bolder;
        color: rgb(44, 42, 42);
    }
    :nth-child(2),:nth-child(3) {
        font-size: 1.2rem;
        font-weight: bolder;
        color: #ba4c4c7b;
    }
}

.newComer-text {
    font-size: 1.2rem;
    color: rgb(39, 36, 36);
    line-height: 2rem;
    background: #fff;
    border-radius: 7px;
    padding: 0.5rem;
}

