@import "../common/colors.scss";

.event__container {
    border: none;
    height: 50%;
}

.event__image {
    img {
        height: 150px;
    }
}

.flex__container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.modal__wrapper {
    h3 {
        margin: 2rem;
        font-weight: bold;
    }
}

.upload__foto {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    label {
        color: $secondary-color;
        font-size: 1.5rem;
        cursor: pointer;
        padding: 0.5rem;
        margin-left: 0.9rem;
    }
}

.svg__camera {
    margin-right: 1.3rem;
}

.event__address, .event__description,.event__date__selection {
    margin-left: 1rem;
}
 
.event__date__selection, .event__time,.event__address, .event__description {
   
    input {
        background-color: transparent;
        margin: 0.5rem 0.5rem;
        border: none;
        outline: none;
        padding: 0.5rem;
    }

    label {
        margin-right: 1.5rem;
        color: $secondary-color;
        font-weight: bold;
    }
}


