@import "./components/common/colors.scss";

*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
height: 100vh;
overflow: hidden;
background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

svg {
    cursor: pointer;
    color: $primary-color;
}

ul, li {
    list-style: none;
}

button, a {
    cursor: pointer;
}

h1,h2,h3,h4 {
    margin-bottom: 10px;
    font-family: roboto;
}

*::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
    margin-block: .5em;
  }
  *::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 20px;
    margin: 10px;
    border: transparent;
    padding: 0.5rem;
  }

.laoding__spinner {
    img {
        width: 100px;
        height: 100px;
    }
}