@import "../../components/common/colors.scss";

.register-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-border {
    border: 1px solid $primary-color;
    border-radius: 7px;
    width: 450px;
    padding: 1.5rem;
    box-shadow: 1px 1px 10px 2px $primary-color;
}

.sub-form-login {
    border: 1px solid $primary-color;
    margin-top: 1.5rem;
    padding: 1.5rem;
    width: 450px;
    text-align: center;
    border-radius: 7px;
    color: $secondary-color;

    span {
        color: $primary-color;
        cursor: pointer;
    }
}

.text-logo {
    h1 {
        color: $primary-color;
    }
}

.btn-primary {
    display: block;
    margin: 3rem auto;
}

.form-group {
    width: 100%;
    text-align: center;
}

.form-group {

    select {
        width: 90%;
        margin: auto;
        padding: 1.4rem;
        border: 1px solid lightgray;
    }
}

.load_foto {

    display: flex;
    justify-content: center;
    align-items: center;

    input  {
       border: 1px solid lightgray;
       padding: 1.5rem;
       border-radius: 7px;
       color: $primary-color;
       background-image: url("../../assets/images/image.webp");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       cursor: pointer;
    }  
}

.register-logo, .register-text {
    text-align: center;
}

.register-text {

    p {
        color: rgba(255, 255, 255, 0.704);
        font-size: 1.7rem;
    }
}

.register-logo {
    padding-top: 1.5rem;
    font-family: MonteCarlo;
    color: $primary-color;
}

.register-text {
    color: $secondary-color;
    margin-bottom: 1.8rem;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
       padding: 0.5rem;
      cursor: pointer;
  }
}

.sub-form-login {
    p {
        color: rgba(255, 255, 255, 0.704);;
    }
}


// ***** Mobile Version *****
@media (max-width: 490px) {
    .register-border {
        border: 1px solid lightgray;
        border-radius: 7px;
        width: 350px;
    }

    .register-border {
        border: 1px solid lightgray;
        border-radius: 7px;
        width: 350px;
    }

    .sub-form-login {  
        width: 350px;  
}
}