@import "../common/colors.scss";

// ***** Desktop Version *****
.text-logo {
    h1 {
        text-align: center;
        font-family: Montecarlo;
        font-weight: 500;
        font-size: 8rem;
        color: $secondary-color;
    }
}

.text-introduction {
    margin-bottom: 2rem;
    width: 90%;
    h3 {
        text-align: center;
        font-weight: 400;
        line-height: 2.8rem;
        letter-spacing: 0.1rem;
        color: $text-color;
    }
}

// **** Mobile Version
@media (max-width: 786px) {

}